html {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    color: white;
    font-family: Verdana;
    list-style: none;
    text-decoration: none;
}
header {
    background-color: #1F2937;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100px; 
}

.header-parts {
    display: flex;  
    text-align: center;
    flex: 1;
    color: white; 
    justify-content: space-evenly; 
}

#section-1 {
    height: 100%;
    background-color: #1F2937;
    
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding-bottom: 100px;
}

#section-1 div {
    
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 100px;
    padding-bottom: 1%;
    /* padding-top: 10px; */
    /* margin-left: 222px; */
}

#section-1 div:first-child {
    padding-left: 250px;
}

#section-1-0 { 
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
}
/* 
div > div { 
    
    padding: 10px;
    display: flex;
    flex-direction: column;
} */


#main-text {
    width: 100%;
    font-size: 40px;
    text-align: start;
}

#section-2 {
    background-color: white;
    height: 100%;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.placeholders > p {
    word-wrap: break-word;
    width: 200px;
    color: black;
    text-align: center;
}

.img-placeholders { 
    padding: 100px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

h2 {
    color: black;
    text-align: center;
}

#section-3 {
    background-color: #E5E7EB;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#section-3 > p {
    align-self: center;
    text-align: center;
    color: #1f2937;
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    
    padding: 100px;
    padding-bottom: 0%;
}

#section-3 > strong {  
    align-self: flex-end;
    color: #1f2937;
    font-size: 30px;  
    padding: 1px;
    padding-right: 150px;
    padding-bottom: 100px;
    margin: 1px;
}

#i {
    display: flex;
    align-self: stretch;
    padding: 10px;
    height: 100%;
    width: 100%;
}


img {  
    float: right; 
    height: auto;
    overflow:auto;

}


#section-4 {
    background-color: white;
    height: 100%;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;


    display: flex;
    flex-direction: row;
    justify-content: center;
}

#call-to-action  {
    background-color: #3882F6; 
    height: 200px; 
    width: 100%;
    border-radius: 10px;
    margin: 100px; 

    display: flex;
    flex-direction: row;
    justify-content: center;

}

#call-to-action div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%; 
}

#call-to-action p:first-child{ 
    margin-top: 50px;
}

#call-to-action p:nth-child(2){ 
    font-weight: 100;
}

#call-to-action p{ 
    margin: 0px;
    /* margin-top: 5px; */
    margin-left: 200px;
    font-size: 30px;
    text-align: start;
    white-space: pre-line;
}

#call-to-action button {
    display: flex;
    align-self: center;
    text-align: center;
    font-size: 100%;
    margin: 100px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 40px;
    
    background-color: #3882F6;  
    border: 5px solid white;
    border-radius: 12px;
    height: 25%;
    width: 15%;
}


#footer {
    background-color: black;
    height: 100%;
    padding: 100px;
    padding-top: 25px;
    padding-bottom: 25px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#footer p {
    height: 100%; 
    background-color: black;

    display: flex;
    justify-content: center;
    align-self: center;
}